.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo img {
  margin: 10%;
  width: 70%;
  height: 70%;
}
.header__center {
  margin: auto;
  font-weight: bold;
}
.header__center a {
  margin: 20px;
}
.header__account {
  height: 100%;
}
.header__account a {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__account a:hover {
  background-color: red;
}
.header__account img {
  width: 40px;
  height: 40px;
}
.header__location {
  height: 80%;
  border-left: 1px grey solid;
}
@media screen and (max-width: 760px) {
  .header__center {
    display: none;
  }
  .header__location {
    display: none;
  }
}
